body {

    background-color:  #006654 !important;
    margin: 0;
    padding: 0;
}

#video-grid {

    display: flex;

}


video {

    width: 800px;
    border-radius: 8px;
    padding-left: 10%;
    padding-top: 25%;
}

.main {

    height: 100vh;
    display: flex;
}

.main-left {

    flex: 0.8;
}

.main-right {

    flex: 0.2;
}

.controls {
    display: flex;
    padding: 5px;
    justify-content: center;
    margin-top: 5%;
    padding-left: 12%;
}

.controls-block {
    display: flex;
}

.controls-block-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}